{% extends 'layout-app.html' %}

{% set hub = "Services" %}

{% set pageHeading = "Appointment confirmed" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="app-confirmation">
        <h1 class="app-confirmation__title">{{ pageHeading }}</h1>
      </div>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Details</h2>

        <p>
          <span class="nhsuk-u-visually-hidden">Type: </span>{{ data['gp-appointment-type'] or '[Appointment type]' }}<br>
          <span class="nhsuk-u-visually-hidden">Date: </span>{{ data['appointment-date'] or '[Appointment date]' }}<br>
          <span class="nhsuk-u-visually-hidden">Time: </span>{{ data['appointment-time'] or '[Appointment time]' }}
        </p>

        <hr>

        <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Location</h2>

        <p>
          <span">{{ data['appointment-location'] or '[Appointment location]' }} </span>
        </p>

        <hr>

        <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Healthcare professional</h2>

        <p>
          <span>{{ data['appointment-clinician'] or '[Appointment-clinician]' }} </span>
        </p>

      
        
      {{ button({
        text: "Add to calendar",
        classes: "nhsuk-u-margin-top-1 nhsapp-button app-button--secondary"
      }) }}

      
      <!-- <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">


      <h2 class="nhsuk-heading-s">What you can do next</h2>

      {{ nhsappCardGroup({
        stacked: true,
        cards: [
          {
            title: "View upcoming appointments",
            href: "#"
          }
        ]
      }) }} -->


    </div>
  </div>

  {% endblock %}


